/* main css file */
body {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    text-align: center;
    font-family: Poppins, sans-serif;
display: flex;
flex-direction: column;
}

html {
    padding: 0px;
    margin: 0px;

}
#header{
    width: 100%;
    background-color: purple;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.title{
font-weight: bolder;
}